.botoes{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
.botao-dash{
    border: solid 1px #000;
    border-radius: 10px;
    margin-left: 20px;
    width: 200px;
    height: 100px;
    text-align: center;
    padding: 25px;
    margin-top: 25px;

    
}

.botao-dash:hover{
    background-color: #e4536f;
    color: #fff;
    width: 225px;
   
    transition: 800ms;
    cursor: pointer;

}
.link-sair{
    color: #000;
    text-decoration: none;
}
a.link-sair:hover{
    
    text-decoration: none;
}